.counter {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .counter__txt {
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;

    }

    .counter__btns {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .btn {
        padding: 5px 10px;
        border: none;
        cursor: pointer;
        transition: .3s;
        outline: none;
        border-radius: 5px;
    }

    .btn:hover {

        background-color: #007bff;
    }

}

