.table-container {
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Arial", sans-serif;

    .table {
        width: 100%;
        border-collapse: collapse;
        font-family: "Arial", sans-serif;
    }

    .table__head {
        background-color: #428CBA;
        color: white;
    }

    .table__header {
        padding: 12px;
        text-align: left;
        font-size: 16px;
    }

    .table__body .table__row:nth-child(even) {
        background-color: #f2f2f2;
    }

    .table__row:hover {
        background-color: #dcecfb;
        transition: background 0.3s ease-in-out;
    }

    .table__cell {
        padding: 12px;
        border-bottom: 1px solid #ddd;
        font-size: 14px;
    }

    .table__sort {
        cursor: pointer;
        transition: .2s;
        user-select: none;
    }
    .table__sort:hover {
        background-color: #0f1c29;
    }

    .btn {
        text-transform: uppercase;
        padding: 5px 10px;
        color: white;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        transition: .2s;
    }

    .btn:hover {
        transform: scale(1.1);}

    .dlt {
        background-color: darkred;
    }

    .crt {
        background-color: #008b0e;
    }

    .flex {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }

    .input__wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 5px;
    }

    .label {
        color: #007bff;
    }

    .input {
        padding: 5px 12px;
        border-radius: 5px;
        border: 1px solid #ddd;
    }

    .input:focus {
        border-color: #007bff;
    }
}

.dark-mode {
    background-color: #222;
    color: #ddd;

    .btn {
        color: black;
        background-color: white;
    }

    .crt {
        background-color: #ae6600;
        color: white;

    }

    .table__head {
        background-color: #ae6600;
        color: white;
    }

    .table__body .table__row:nth-child(even) {
        background-color: #ae6600;
    }

    .table__row:hover {
        background-color: #3d1414;
        transition: background 0.3s ease-in-out;
    }

    .dlt {
        background-color: #3d1414;
        color: white;
    }

    .table__sort:hover {
        background-color: #3d1414;
    }

    .btn:hover {
        background: #ae6600;
        color: white;
    }
}


